<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Lucas Soares, sou programador profissional desde 2024.</span>
            </h1>

            <p class="paragrafo"> Conheça mais sobre mim, meus projetos e habilidades técnicas.</p>

            <div class="botao">

                <a href="#about">
                    <i class="material-symbols-outlined">
                        sentiment_very_satisfied
                    </i>
                    Sobre mim
                </a>


                <a href="#skills">
                    <span class="material-symbols-outlined">
                        check_circle
                    </span>
                    Habilidades
                </a>

            </div>

        </div>
    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/lucasSoares.jpg" alt="foto de lucas soares">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>Sou um programador web em constante evolução.
                </h3>

                <p>
                    Sou apaixonado por tecnologias e, por alguns motivos, meu início na programação foi tardio. 
                    Hoje, procuro aprender tudo o que for possível para me profissionalizar nas áreas que gosto
                </p>

                <p>
                    No front-end, estou focando meu aprendizado em <b>Angular</b> e <b>TypeScript</b>.
                </p>

                <p>
                    No desenvolvimento de back-end, minha atenção está focada em <b>C#</b> e <b>ASP.NET Core</b>.
                </p>

                <p>
                    Estou também concentrando meus esforços em aprender e aperfeiçoar minhas habilidades em tecnologias como <b>Git</b>, 
                    <b>GitHub</b> e <b>MySQL Server</b>.
                </p>

                <a href="#contato">Entre em contato comigo!</a>
            </div>

        </div>

    </section>
</main>